.form-check.container
    form(action="#")
        .form__row
            p Уведомление об исполнении заказа
        .form__row
            input(type="checkbox", name="notification")#notification-1
            label(for="notification-1") СМС
        .form__row
            input(type="checkbox", name="notification")#notification-2
            label(for="notification-2") Звонок
        .form__row
            input(type="checkbox", name="notification")#notification-3
            label(for="notification-3") Email
        .form__row
            input(type="checkbox", name="notification")#notification-4
            label(for="notification-4") Не уведомлять

